.result-label {
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  padding: 2px 5px;
  width: fit-content;
  margin-bottom: 5px;
}

.result {
  font-size: 14px;
  margin-bottom: 20px;
}

.result-link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}
